<div>
  <h1 class="font-bold text-4xl">Dashboard#index</h1>
  <p>Find me in app/views/dashboard/index.html.erb</p>
<%= button_to "Logout",
  destroy_user_session_path,
  method: :delete,
  class: "bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded-lg transition" %>
</div>