<div id="<%= dom_id family_membership %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= family_membership.user_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Family:</strong>
    <%= family_membership.family_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Membership type:</strong>
    <%= family_membership.membership_type %>
  </p>
</div>
