<% content_for :title, "Editing family membership" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing family membership</h1>

  <%= render "form", family_membership: @family_membership %>

  <%= link_to "Show this family membership", @family_membership, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to family memberships", family_memberships_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
